@{
    ViewData["Title"] = "Сброс пароля - проверьте почту";
    Layout = "_Layout";
}

<style scoped>
    .forgotpassword-confirm {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
</style>

<h4 class="card-title mt-3 text-center">@ViewData["Title"]</h4>
<div class="forgotpassword-confirm text-center">
    <p class="lead text-primary">На указанный e-mail отправлено письмо.</p>
    <p class="lead text-info">Проверьте свою электронную почту и следуйте инструкции.</p>
</div>