@model Web.Areas.Identity.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Сброс пароля";
}


<style scoped>
    .form-forgotpassword {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
</style>

<h4 class="card-title mt-3 text-center">@ViewData["Title"]</h4>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-forgotpassword">
    <div class="text-center">
        <p class="lead text-primary">Для сброса пароля введите e-mail, на который зарегистрирован Ваш аккаунт.</p>
        <p class="lead text-info">На него будет выслано письмо с дальнейшими инструкциями.</p>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input asp-for="Email" class="form-control" placeholder="E-mail" type="email" required autofocus>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Отправить письмо</button>
    </div>
</form>