@{
    ViewData["Title"] = "Пароль сброшен";
    Layout = "_Layout";
}

<style scoped>
    .confirm {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
</style>

<h4 class="card-title mt-3 text-center">@ViewData["Title"]</h4>
<div class="confirm text-center">
    <p class="lead text-primary">Ваш пароль сброшен. Для входа в приложение перейдите по <b><a asp-action="Login">ссылке</a></b>.</p>
</div>