@model Web.Areas.Identity.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Придумайте новый пароль";
}

<style scoped>
    .form {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
</style>

<h4 class="card-title mt-3 text-center">@ViewData["Title"]</h4>
<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Введите свой e-mail" type="email" required autofocus>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input asp-for="Password" class="form-control" placeholder="Придумайте новый пароль" type="password" required>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input asp-for="PasswordConfirm" class="form-control" placeholder="Повторите пароль" type="password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Сбросить</button>
    </div>
</form>